{extend name="base/common"}
{block name="body"}
<div>
            <div class="flex_row loginTitle pd_5">
                <div class="f_w2 pl_30" >
                    <img src='{$headimgurl}' width="50" class="br_30"/>
                </div>
                <div class="f_w1 pt_10" >
                    <img src="__PUBLIC__/static/wechat/images/thumbnail/top.png" width="30"/>
                </div>
                <div class="f_w10 pt_10">
                    <div class="detailTip">预约凭证详细信息</div>
                </div>
            </div>
             

            {volist name="list" id="vo"}
            <div class="bg_fff bar pt_10 pb_30">
                <div class="flex_row input">
                    <div class="fc_100 pl_20">访问类型:</div>
                    <input class="pl_10 fs_15 w_60" value="员工邀请"/>
                </div>
                <div class="flex_row input">
                    <div class="fc_100 pl_20">贵宾姓名:</div>
                    <input class="pl_10 fs_15 w_60" value="{$vo.name}"/>
                </div>
                <div class="flex_row input">
                    <div class="fc_100 pl_20">贵宾手机:</div>
                    <input class="pl_10 fs_15 w_60" value="{$vo.phone}"/>
                </div>
                <div class="flex_row input">
                    <div class="fc_100 pl_20">来访事由:</div>
                    <input class="pl_10 fs_15 w_60" value="{$vo.reasons}"/>
                </div>
                <div class="flex_row input">
                    <div class="fc_100 pl_20">车牌号码:</div>
                    <input class="pl_10 fs_15 w_60" value="{$vo.car_num}"/>
                </div>
                <div class="flex_row input">
                    <div class="fc_100 pl_20">开始时间:</div>
                    <input class="pl_10 fs_15 w_60" value="{$vo.start_time|date='Y-m-d H:i',###}" />
                </div>
                <div class="flex_row input">
                    <div class="fc_100 pl_20">截止时间:</div>
                    <input class="pl_10 fs_15 w_60" value="{$vo.end_time|date='Y-m-d H:i',###}" />
                </div>
            </div>
            
            <div class="ewm">
                <div class="pb_5">预约凭证</div>
                <div class="">
                    <img  src="{$vo['url_img']}" width="150" />
                </div>
            </div>
            {/volist}
            <div class="form-group pt_10">
                <label for="time" class="col-sm-12 col-xs-12 control-label" style="color:red; text-align: center;">没有更多数据了</label>
            </div>
        </div>




    <script>
        window.onpopstate = function(event)
        {
          if (event.state.page === 'state1')
          {
            WeixinJSBridge.call('closeWindow');
          }
        }

        <script>


$(".form_datetime").datetimepicker({
  language:'zh-CN',
  minView:"day",
  todayHighlight: 1,
  format: 'yyyy-mm-dd HH:ii',
  todayBtn:  1,
  startDate : new Date(),
  autoclose: 1
});
    </script>
{/block}
{block name="js"}
{/block}