{extend name="base/common"}
{block name="body"}
 <script type="text/javascript">
    $(function(){
        /*将获取的值存到变量里*/
        var width_screen       = screen.width;
        var height_screen      = screen.height;
        var availWidth_screen  = screen.availWidth;
        var availHeight_screen = screen.availHeight;
        var colorDepth_screen  = screen.colorDepth;
        console.log("你的屏幕宽为："+width_screen+"<br />你的屏幕高为："+height_screen+"<br />你的屏幕可用宽为："+availWidth_screen+"<br />你的屏幕可用高为："+availHeight_screen+"<br />你的颜色设置所有为数为："+colorDepth_screen);
        $('table').height(height_screen-110);
    });

</script>
<div class="bg_fff bar pt_10 pb_10">
        <div class="flex_row input">
          <div class="fc_100 pl_20">访客姓名:</div>
          <input class="pl_10 fs_15 w_60" id="" name="ephone" placeholder="" readonly="true" value="{$record.name}"/>
        </div>
        <div class="flex_row input">
          <div class="fc_100 pl_20">开始时间:</div>
          <input class="pl_10 fs_15 w_60" id="" name="ephone" placeholder="" readonly="true" value="{$record.start_time|date='Y-m-d H:i:s',###}"/>
        </div>
        <div class="flex_row input">
          <div class="fc_100 pl_20">截止时间:</div>
          <input class="pl_10 fs_15 w_60" id="" name="ephone" placeholder="" readonly="true" value="{$record.end_time|date='Y-m-d H:i:s',###}"/>
        </div>
        <div class="flex_row input">
          <div class="fc_100 pl_20">车牌号码:</div>
          <input class="pl_10 fs_15 w_60" id="" name="ephone" placeholder="" readonly="true" value="{$record.car_num}"/>
        </div>

        <div class="flex_row" style="padding-left: 10%">
                <img style="width: 90%" src="{$recordlog['url_img']}">
            </div>
  </div>
    <script>
        window.onpopstate = function(event)
        {
          if (event.state.page === 'state1')
          {
            WeixinJSBridge.call('closeWindow');
          }
        }
    </script>
{/block}
{block name="js"}
{/block}