{extend name="base/common"}
{block name="body"}

<div class="right_col" role="main">
	<div class="clearfix">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2> 公众号 <small> 详细信息 </small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="demo-form2" enctype="multipart/form-data" method="post"  class="form-horizontal form-label-left">

              <input type="hidden" name="id">

              <div class="form-group">  
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userpicture"> 用户头像 </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="file" name="image" /> <br> 
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username"> 登录账号 </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="username" name="username" required="required" class="form-control col-md-7 col-xs-12" placeholder="" value="{$list.username}">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password"> 登录密码 </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="password" id="password" name="password" required="required" class="form-control col-md-7 col-xs-12" placeholder="" value="{$list.password}">
                </div>
              </div>

              <div class="form-group">
                <label for="nickname" class="control-label col-md-3 col-sm-3 col-xs-12"> 公司名称 </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="nickname" name="nickname" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" value="{$list.nickname}">
                </div>
              </div>

              <div class="form-group">
                <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12"> 公司地址 </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="address" name="address" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" value="{$list.address}">
                </div>
              </div>

              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="button" id="btn-back"> 返回 </button>
                  <button class="btn btn-primary" type="reset">  重置 </button>
                  <button class="btn btn-success" type="submit" id="btn-sub"> 修改 </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{/block}
{block name="js"}
<script src="__PUBLIC__/static/ad/js/user_visitor.js"></script>
{/block}
