<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
<meta content="微信预约 微信预约管理系统 一对一预约 微信预约系统" name="keywords" />
<meta content="微信预约管理系统，配置简单" name="description" />

<title> 小V访客预约系统 </title>

<!-- 引入 Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.4/jquery.js"></script> -->
<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="__PUBLIC__/static/wechat/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/wechat/css/invite.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/wechat/css/phone.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/wechat/css/bootstrap-datetimepicker.min.css">
<script src="__PUBLIC__/static/wechat/js/bootstrap-datetimepicker.js"  type="text/javascript"></script>
<script src="__PUBLIC__/static/wechat/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="__PUBLIC__/static/build/js/lCalendar.min.js"></script>
<script src="__PUBLIC__/static/build/js/sweetalert.min.js"></script>

<script>
	history.pushState({page : 'state1'},'state','#state1');
	history.pushState({page : 'state2'},'state','#state2');
</script>
