{extend name="base/common"}
{block name="body"}
<div class="container">
	<form action="#" method="post" id="bind" class="form-horizontal" role="form">
		<div class="page-header ">
			<h3 class="text-center">员工名片</h3>
		</div>
	
		<div class="">
			<div class="img">
				<img src="{$url_img}">
			</div>
		</div>
	
		<div class="form-group">
			<label for="name" class="col-sm-2 col-xs-3 control-label"></label>
			<div class="col-sm-9 col-xs-9">
		      <div>此二维码具备梯控权限</div>
		    </div>
		</div>
	</form>
</div>
<script>

</script>
{/block}
{block name="js"}
{/block}
