{extend name="base/common"}
{block name="body"}
	<div>
            <div>
                <img src="__PUBLIC__/static/wechat/images/thumbnail/背景.jpg" width="100%"/>
            </div>
            
            <div class="flex_row box">
                <div>
                    <img  class="" src="__PUBLIC__/static/wechat/images/thumbnail/预约信息.png" width="150" />
                </div>


                
                <div class="">
                    <img class="" src="__PUBLIC__/static/wechat/images/thumbnail/个人中心.png" width="150" />
                </div>
            </div>
            
            <div class="ab_button">
                    <img src="__PUBLIC__/static/wechat/images/thumbnail/我要预约.png" width="50%"/>
            </div>
        </div>
<script>
window.onpopstate = function(event) {
    WeixinJSBridge.call('closeWindow');
}

</script>
{/block}
{block name="js"}
<script src="__PUBLIC__/static/wechat/js/employee_bind.js"  type="text/javascript"></script>
{/block}