{extend name="base/common"}
{block name="body"}
<div class="blueTitle">
            <div class="color_fff pt_10 pb_10 option">我是访客-请填写注册信息</div>
        </div>
        
        <div class="chunk">
            <img  src="__PUBLIC__/static/wechat/images/thumbnail/人像采集虚线框.png" width="50%"/>
        </div>
        
        <form>
            <div class="bg_fff bar pt_10 pb_30">
                <div class="flex_row input">
                    <div class=" pl_20 fs_15">您的姓名:</div>
                    <input type="text"  class="pl_10 fs_15  w_60" value=""  placeholder="请输入姓名" />
                </div>
                <div class="flex_row input">
                    <div class=" pl_20">您的性别:</div>
                    <input name="sex" type="radio" checked="checked"/>男       
                    <input name="sex" type="radio" />女
              </select>
                </div>
                <div class="flex_row input">
                    <div class=" pl_20">手机号码:</div>
                    <input class="pl_10 fs_15 w_60" value="" placeholder="请输入手机号码"/>
                </div>
                <div class="flex_row input">
                    <div class=" pl_20 fs_15">身份证号码:</div>
                    <input class="pl_10 fs_15 w_60" value="" placeholder="选填"/>
                </div>
            </div>  
            <div class="button">确认</div>
            <div class="button_register">员工注册通道</div>
        </form>
        </div>
        <div class="photo">
            <img src="__PUBLIC__/static/wechat/images/thumbnail/人像采集按钮.png" width="50%"/>
        </div>

	<script>
window.onpopstate = function(event) {
    WeixinJSBridge.call('closeWindow');
}

</script>
{/block}
{block name="js"}
<script src="__PUBLIC__/static/wechat/js/employee_bind.js"  type="text/javascript"></script>
{/block}