<div class="blue">
	<div>
		<div>
			<img src="__PUBLIC__/static/wechat/images/thumbnail/write.png" width="30"/>
		</div>
		<div class="text">我要预约-请填写预约信息</div>
	</div>
</div>

<form action="#" method="post" id="form-bind" class="form-horizontal" role="form">
	<div class="white mg-t25">
		<div class="row">
			<div>来访日期：</div>
		    <input type="text" class="box" id="phone" name="phone" placeholder="请选择日期" value="">
		</div>
		<hr class="hr" />
		<div class="row">
			<div>来访时间：</div>
		    <input type="text" class="box" id="phone" name="phone" placeholder="请选择时间" value="">
		</div>
		<hr class="hr" />
		<div class="row">
			<div>员工手机：</div>
		    <input type="text" class="box" id="phone" name="phone" placeholder="请输入被访人手机号码" value="">
		</div>
		<hr class="hr" />
		<div class="row">
			<div>拜访事由：</div>
		    <input type="text" class="box" id="phone" name="phone" placeholder="请输入被访人手机号码" value="">
		</div>
		<hr class="hr" />
		<div class="row">
			<div>拜访人数：</div>
		    <input type="text" class="box" id="phone" name="phone" placeholder="请输入被访人手机号码" value="">
		</div>
		<hr class="hr" />
		<div class="row">
			<div>车牌号码：</div>
		    <input type="text" class="box" id="phone" name="phone" placeholder="请输入被访人手机号码" value="">
		</div>
		<hr class="hr" />
	</div>
	
	<div class="button" href="javascript:void(0)" id="btn-bind">
			<a class="button-text" value="确定提交">确定提交</a>		  
	</div>

</form>
