{extend name="base/common"}
{block name="body"}

<div class="right_col" role="main">
	<div class="clearfix">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <!-- <div class="count">访客列表</div> -->
            <h2 > 访 客  详细信息 </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="demo-form2" method="post" data-parsley-validate class="form-horizontal form-label-left">

              <input type="hidden" name="id" value="{$visitors.id}">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3" for="name"> 访客姓名 </label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <input type="text" id="name" name="name" required="required" class="form-control " readonly="readonly" value="{$visitors.name}">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3" for="phone"> 手机号码 </label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <input type="text" id="phone" name="phone" required="required" class="form-control" readonly="readonly" value="{$visitors.phone}">
                </div>
              </div>

              <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-3"> 身份证号 </label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <input id="idcard" name="idcard" class="form-control" type="text" name="middle-name" readonly="readonly" value="{$visitors.idcard}">
                </div>
              </div>

               <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-3"> 访客单位 </label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <input id="company" name="company" class="form-control" type="text" name="middle-name" readonly="readonly" value="{$visitors.company}">
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="button" id="btn-back"> 返回 </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{/block}
{block name="js"}
<script src="__PUBLIC__/static/ad/js/user_visitordetail.js"></script>
{/block}
