{extend name="base/common"}
{block name="body"}

<div class="right_col" role="main">
	<div class="row tile_count">
		<div class="tile_stats_count">
      <div class="count">访客列表</div>
		</div>
    <div class="x_content">
      <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12" style="float: left">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <select  id="check_type" name="check_type" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3">
            {if condition="$check_type eq 'VISPHO'"}
              <option value="ALL">全部</option>
              <option value="NAME">访客姓名</option>
              <option value="PHONE">手机号</option>
              <option value="IDCARD">身份证号</option>
            {elseif condition="$check_type eq 'EMPNAME'"}
              <option value="ALL">全部</option>
              <option value="NAME">访客姓名</option>
              <option value="PHONE">手机号</option>
              <option value="IDCARD">身份证号</option>
            {elseif condition="$check_type eq 'ALL'"}
              <option value="ALL" selected="selected">全部</option>
              <option value="NAME">访客姓名</option>
              <option value="PHONE">手机号</option>
              <option value="IDCARD">身份证号</option>
            {elseif condition="$check_type eq 'NAME'"}
              <option value="ALL">全部</option>
              <option value="NAME" selected="selected">访客姓名</option>
              <option value="PHONE">手机号</option>
              <option value="IDCARD">身份证号</option>
            {elseif condition="$check_type eq 'PHONE'"}
              <option value="ALL">全部</option>
              <option value="NAME">访客姓名</option>
              <option value="PHONE" selected="selected">手机号</option>
              <option value="IDCARD">身份证号</option>
            {elseif condition="$check_type eq 'IDCARD'"}
              <option value="ALL">全部</option>
              <option value="NAME">访客姓名</option>
              <option value="PHONE">手机号</option>
              <option value="IDCARD" selected="selected">身份证号</option>
            {else /}
              <option value="ALL">全部</option>
              <option value="NAME">访客姓名</option>
              <option value="PHONE">手机号</option>
              <option value="IDCARD" >身份证号</option>
            {/if}
          </select>
        </div>
        <input type="text" name="check-all" id="check-all" required="required" class="col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="请输入查询信息" style="margin-right: 20px; height: 35px;" value="{$check}">
        <a href="javascript:;" onclick="location = 'visitor?check_type='+document.getElementById('check_type').value+'&check='+document.getElementById('check-all').value;" data-toggle="popover" title="查询预约记录"><button type="button" class=" col-lg-1 col-md-1 col-sm-1 col-xs-1 btn btn-info" id="check-all-btn">查询</button></a>
  
         <a href="#" data-toggle="popover" title="删除选定的访客信息">
          <button type="button" class="btn btn-danger"  id="visitor-del"      > 删除选定 </button>
        </a>
        <a href="#" data-toggle="popover" title="导出选定的访客信息">
          <button type="button" class="btn btn-success" id="visitor-export"   > 导出选定 </button>
        </a>
        <a href="#" data-toggle="popover" title="导出所有的访客信息">
          <button type="button" class="btn btn-success" id="visitor-exportall"> 导出所有 </button>
        </a>   

      </div>       
    </div>
	 
	</div>

	<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
      <thead>
        <tr class="headings">
          <th><input type="checkbox" id="check-all" class="flat"></th>
          <th class="column-title"> 访客姓名 </th>
          <th class="column-title"> 联系方式 </th>
          <th class="column-title"> 账号状态 </th>
          <th class="column-title no-link last"><span class="nobr"> 操作 </span></th>
          <th class="bulk-actions" colspan="7">
            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
            </th>
        </tr>
      </thead>

      <tbody>
        {volist name="visitor" id="vo" mod="2"}
        {eq name="mod" value="0"}
        <tr class="even pointer">
        {else/}
        <tr class="odd pointer">
        {/eq}

          <td class="a-center ">
            <input type="checkbox" class="flat" name="table_records" value="{$vo.id}">
          </td>

          <td class=" "> {$vo.name} </td>
          
          <td class=" "> {$vo.phone} </td>
  
          {if condition="$vo.status eq 0"}
          <td class="a-right a-right "> 已禁用 </td>
          {elseif condition="$vo.status eq 1"}
          <td class="a-right a-right "> 已绑定 </td>
          {elseif condition="$vo.status eq 2"}
          <td class="a-right a-right "> 未绑定 </td>
          {else /}
          <td class="a-right a-right "> 已删除 </td>
          {/if}

          <td class=" last">
            <a href="{:url('user/visitorDetail',array('id'=>$vo['id']))}" data-toggle="popover" title="查看访客信息"> 查看 </a>
            <a href="{:url('user/visitorDel',array('id'=>$vo['id']))}"    data-toggle="popover" title="删除访客信息"> 删除 </a>
          </td>
        </tr>
        {/volist}

      </tbody>
      </table>
      <div class="list-page"> {$visitor->render()} </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__PUBLIC__/static/ad/js/user_visitor.js"></script>
<script >
  // .form-control{
  //   width: 10px;
  // }
</script>
{/block}
