<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.5.4;Initial Catalog=FK_Platform;Integrated Security=false;User ID=sa;Password=123456;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="APIToken" value="tecsunPf" />
    <!--照片存放的硬盘路径，平台的Web.Cconfig的此项配置需和接口的Web.Config的相同-->
    <add key="PhotoPath" value="D://TecsunPlatform//Photo" />
    <add key="ServerUrl" value="http://sms.1xinxi.cn/asmx/smsservice.aspx" />
    <add key="CTIDCount" value="50" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
