<!-- jQuery -->
<script src="__PUBLIC__/static/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__PUBLIC__/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/static/vendors/iCheck/icheck.min.js"></script>
<!-- Flot -->
<script src="__PUBLIC__/static/vendors/Flot/jquery.flot.js"></script>
<!-- DateJS -->
<script src="__PUBLIC__/static/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="__PUBLIC__/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="__PUBLIC__/static/vendors/moment/min/moment.min.js"></script>
<script src="__PUBLIC__/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="__PUBLIC__/static/build/js/custom.min.js"></script>


<script src="__PUBLIC__/static/build/js/sweetalert.min.js"></script>

