{extend name="base/common"}
{block name="body"}

<div class="right_col" role="main">
  <div class="row tile_count">
    <div class="tile_stats_count">
          <div class="count"> 微信预约来访事由 </div>
    </div>

  </div>
<div class="container">
  <div class="row">
    <!-- form input mask -->
    <div class="">
      <div class="x_panel">
        <div class="x_title">
          <h2> 来访事由详细信息 </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>         
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
        <!-- <div class="x_content" style="display: none"> -->
          <br />
          <form class="form-horizontal form-label-left" action="{:url('addressAdd')}" method="post">

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-3"> 事由名称 </label>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" class="form-control" name="reason" value="{$list.value}">
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
            </div>
                      
            <div class="ln_solid"></div>

            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button class="btn btn-primary" type="button" id="btn-back"> 返回上层 </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- /form input mask -->
  </div>
</div>
    
</div>
{/block}
{block name="js"}
<script src="__PUBLIC__/static/ad/js/reasons.js"></script>
{/block}
